svg {
  margin: 10px;
}

nav {
  font-size: 35px;
}

/* Classes */
.side-nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #eddcc5;
  opacity: 0.95;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 15px;
}

.side-nav ul {
  margin-left: 80px;
}

.nav-li {
  list-style: none;
  background-color: #eddcc5;
  padding: 20px;
}

.nav-a {
  text-decoration: none;
  color: #000000;
}

.btn-close {
  padding: 0 20px;
  text-decoration: none;
  font-size: 60px;
  color: #000000;
}

/* id's */
#nav-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#search-bar {
  padding: 5px 10px;
  border-radius: 12px;
  border: solid black 1.5px;
  margin: 10px;
}

#cart {
  color: black;
  margin: 5px 10px;
}

#logo {
  width: 100%;
}

/* Hover effects */
.nav-a:hover,
.btn-close:hover {
  color: #ffffff;
  transition: 250ms ease-in-out;
}
