/*
-----------------------------
Home Page & universal stylings
-----------------------------
*/
body {
  line-height: 1.4;
}

main {
  font-family: hero-new, sans-serif;
  font-weight: 200;
  font-style: normal;
}

h1 {
  color: #eddcc5;
}

img {
  max-width: 100%;
  height: auto;
}

h2,
h3 {
  text-align: center;
  font-family: hero-new, sans-serif;
  font-weight: 200;
  font-style: normal;
}

.wrapper {
  height: 100vh;
  margin-bottom: -50%;
}

.logo-home {
  display: block;
}

.logo-mobile {
  display: block;
}

.logo-desktop {
  display: none;
}

#two-donuts {
  margin-top: 100px;
  border: 2px solid #eddcc5;
}

#glazed-donut {
  border: 2px solid #eddcc5;
}

#btn-goods {
  position: absolute;
  background-color: black;
}

/*
-----------------------------
MENU PAGE
-----------------------------
*/
.content {
  padding: 40px;
}

.content h3 {
  font-family: hero-new, sans-serif;
  font-weight: 200;
  font-style: normal;
}

.available-products {
  max-width: 200px;
  max-height: 200px;
  border-radius: 5px;
}

.product-info {
  padding: 0 5px 0 0;
  margin-top: 50px;
}

.add-to-cart {
  padding: 8px 15px;
  border: none;
  background-color: #eddcc5;
  border-radius: 15px;
}

#cont1,
#cont2,
#cont3,
#cont4,
#cont5,
#cont6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 10px;
  padding-bottom: 20px;
  border-bottom: solid 1px #eddcc5;
  max-width: 500px;
}

/*
-----------------------------
ABOUT PAGE
-----------------------------
*/
.abt-title {
  margin-bottom: 5px;
}

.about-text {
  position: absolute;
  border: 2px solid #eddcc5;
  border-radius: 5px;
  background-color: #eddcc5;
  top: 52%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 5px;
  -webkit-box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.555), 0 17px 50px 0 rgba(0, 0, 0, 0.493);
          box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.555), 0 17px 50px 0 rgba(0, 0, 0, 0.493);
}

.btn-browse {
  border: none;
  text-decoration: none;
  background-color: #eddcc5;
  font-size: 1em;
  padding: 8px 50px;
  width: 75%;
  border-radius: 6px;
  margin: 10px;
  cursor: pointer;
}

.white-box,
.nudebox {
  display: none;
}

.txt {
  text-align: center;
}

#about {
  text-align: center;
}

#choc-don {
  display: none;
}

#btn-two {
  display: none;
}

/*
-----------------------------
CHECKOUT PAGE
-----------------------------
*/
form {
  font-size: 14px;
  padding: 5px;
  border: solid 1px black;
  border-radius: 5px;
  margin: 20px;
  max-width: 500px;
}

footer p {
  text-align: center;
}

.confirm {
  text-align: center;
}

.cart-items {
  padding: 40px;
  margin-bottom: 20px;
  border-bottom: dotted 1px black;
}

.form-row-special {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px;
}

.form-group-gift,
.name,
.phone-date,
.form-group-newsletter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px;
}

.form-row-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px;
}

#btn-remove,
.btn-place-order {
  border: none;
  margin: 5px;
  padding: 10px 20px;
  background-color: #eddcc5;
  border-radius: 30px;
}

#comments {
  padding: 20px;
  background-color: #ffffff;
  border: solid 1px black;
  margin-top: 8px;
  border-radius: 4px;
}

#btn-two {
  display: none;
}

#cof-don {
  position: relative;
}

#abt-menu {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

#map {
  display: none;
}

#fn,
#ln,
#dt {
  padding-right: 3px;
}

#ln,
#dt {
  padding-left: 5px;
}

/*
-----------------------------
CREDITS PAGE
-----------------------------
*/
/*
-----------------------------
Hover states
-----------------------------
*/
.nav-a:hover,
footer a:hover {
  font-size: 40px;
  color: #ffffff;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

.btn-close:hover,
#social a:hover {
  color: #ffffff;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

#cart:hover,
#search-icon:hover {
  font-size: 30px;
  color: #eddcc5;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

#abt-menu:hover,
.button:hover,
.add-to-cart:hover,
#btn-remove:hover,
.btn-place-order:hover {
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
  -webkit-box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

@media (min-width: 700px) {
  .nav-a:hover,
  footer a:hover {
    font-size: 25px;
    -webkit-transition: 300ms ease-in-out;
    transition: 300ms ease-in-out;
    color: #ffffff;
  }
  #cart:hover,
  #search-icon:hover {
    font-size: 30px;
    color: #ffffff;
    -webkit-transition: 300ms ease-in-out;
    transition: 300ms ease-in-out;
  }
}

footer {
  padding: 40px 20px 10px 20px;
  background-color: #eddcc5;
  font-family: hero-new, sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 14px;
}

footer a {
  text-decoration: none;
  color: #000000;
}

footer h4 {
  font-weight: bolder;
  font-size: 18px;
  margin-bottom: 20px;
}

footer p {
  text-align: center;
}

/*
-----------------------------
CLASSES
-----------------------------
*/
.footer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 20px;
}

.footer-hours {
  list-style: none;
  padding: 0;
  line-height: 30px;
}

.footer-info {
  list-style: none;
  text-align: right;
  padding: 0;
  line-height: 30px;
}

.creator-credits {
  display: block;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  border-top: dotted 1px black;
  padding-top: 20px;
}

/*
-----------------------------
ID's
-----------------------------
*/
nav {
  font-family: hero-new, sans-serif;
  font-weight: 200;
  font-style: normal;
}

/*
-----------------------------
CLASSES
-----------------------------
*/
.nav-li {
  list-style: none;
  margin-top: 20px;
}

.nav-a {
  text-decoration: none;
  color: #000000;
  padding: 20px;
  font-size: 30px;
}

.btn-close {
  padding: 0 12px;
  text-decoration: none;
  font-size: 60px;
  color: #000000;
}

/*
-----------------------------
ID's
-----------------------------
*/
#nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#full-menu {
  display: none;
}

#search-bar {
  display: none;
}

#cart {
  color: black;
  margin: 35px 10px 10px 10px;
  font-size: 25px;
  text-decoration: none;
}

#search-icon {
  font-size: 25px;
}

/*
-----------------------------
@media selectors
-----------------------------
*/
@media (min-width: 700px) {
  svg {
    display: none;
  }
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 20px 0 0 0;
    padding: 0;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .logo-desktop-home {
    display: none;
  }
  .nav-li {
    margin-top: 20px;
  }
  .nav-a {
    font-size: 20px;
  }
  .cart {
    margin-top: 0;
    width: 320px;
    height: 100px;
    background-color: #eddcc5;
    border-radius: 0px 0px 30px 30px;
  }
  .logo-mobile {
    display: none;
  }
  .logo-desktop {
    display: block;
    margin-left: 30px;
  }
  .img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #main {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "one two three";
    grid-auto-rows: 100%;
    -ms-grid-columns: 5% 60% 30%;
        grid-template-columns: 5% 60% 30%;
  }
  #container-left {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: one;
  }
  #container-middle {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: two;
    -ms-flex-item-align: center;
        align-self: center;
    padding: 20px;
  }
  #container-right {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: three;
  }
  #two-donuts,
  #glazed-donut {
    border: 2px solid #eddcc5;
    margin: 20px 0;
    max-width: 60%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
  }
  #side-menu {
    display: none;
  }
  svg {
    display: none;
  }
  #full-menu {
    text-align: center;
    display: inline;
    position: absolute;
    width: 320px;
    height: 100px;
    background-color: #eddcc5;
    border-radius: 0px 0px 30px 30px;
    margin-left: 55px;
  }
  #search-bar {
    display: inline;
    padding: 8px 50px 8px 15px;
    border-radius: 15px;
    border: none;
    margin: 0px 0px 20px 20px;
  }
  #vl-top {
    border-left: 1px solid black;
    height: 80%;
    position: fixed;
    left: 28px;
    margin-left: -3px;
    top: 12%;
  }
  #social {
    position: fixed;
    top: 32%;
  }
  /*
-----------------------------
MENU PAGE
-----------------------------
*/
  .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .content h3 {
    display: block;
  }
  .product-info {
    margin-top: 20px;
  }
  .available-products {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .add-to-cart {
    padding: 8px 15px;
    border: none;
    background-color: #eddcc5;
    border-radius: 15px;
  }
  #cont1,
  #cont2,
  #cont3,
  #cont4,
  #cont5,
  #cont6 {
    display: block;
    border: solid 2px #eddcc5;
    border-radius: 5px;
    margin: 20px;
    padding: 20px 10px;
    width: 300px;
    height: auto;
    text-align: center;
  }
  /*
-----------------------------
ABOUT PAGE
-----------------------------
*/
  #btn-one {
    display: none;
  }
  #btn-two {
    display: inline;
  }
  .abt-donut {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "one two";
  }
  #cof-don {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: one;
    padding-left: 10px;
    padding-right: 20px;
    opacity: 0.85;
  }
  #choc-don {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: two;
    display: block;
    padding-left: 20px;
    padding-right: 10px;
    opacity: 0.85;
  }
  .abt-donut {
    position: relative;
  }
  .about-text {
    position: absolute;
    border: 2px solid #eddcc5;
    border-radius: 5px;
    background-color: #eddcc5;
    top: 95%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    padding: 25px;
    width: 25%;
    -webkit-box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.555), 0 17px 50px 0 rgba(0, 0, 0, 0.493);
            box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.555), 0 17px 50px 0 rgba(0, 0, 0, 0.493);
  }
  .box {
    width: 250px;
    height: 250px;
    background-color: #ffffff;
    border: 2px solid #eddcc5;
    border-radius: 5px;
  }
  #location {
    width: 250px;
    height: 250px;
    background-color: #eddcc5;
    opacity: 0.95;
    margin: 0px 50px 0px 0px;
    padding: 40px 10px 0px 10px;
    border-radius: 5px;
  }
  #map {
    width: 250px;
    height: 250px;
    opacity: 0.95;
    margin: 0px 50px 0px 150px;
  }
  #contact {
    width: 250px;
    height: 250px;
    background-color: #eddcc5;
    opacity: 0.95;
    margin: 0px 0px 0px 150px;
    padding: 40px 5px 0px 5px;
    border-radius: 5px;
  }
  .white-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    padding-bottom: 100px;
  }
  #box1 {
    margin: 75px 100px 0px 0px;
  }
  #box2 {
    margin: 75px 100px 0px 100px;
  }
  #box3 {
    margin: 75px 0px 0px 100px;
  }
  .nude-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    top: 140%;
    left: 12%;
    padding-bottom: 10px;
  }
  #map-mbl {
    display: none;
  }
  #map {
    display: block;
  }
  /*
-----------------------------
CHECKOUT PAGE
-----------------------------
*/
  form {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .cart-items {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    text-align: center;
    margin-left: 40px;
  }
  #logo-checkout-mobile {
    display: none;
  }
  #logo-checkout-desktop {
    display: block;
  }
  #form {
    margin-left: 30px;
  }
  /*
-----------------------------
CREDITS PAGE
-----------------------------
*/
}

/*
-----------------------------
RESETS
-----------------------------
*/
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
}

svg {
  margin: 30px 15px 15px 15px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

/*
-----------------------------
CLASSES
-----------------------------
*/
.side-nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#eddcc5), to(#f7d0c1));
  background-image: linear-gradient(to bottom right, #eddcc5, #f7d0c1);
  opacity: 0.95;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding-top: 5px;
}

.side-nav ul {
  margin-left: 80px;
}

/*
-----------------------------
ID's
-----------------------------
*/
#social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: flex;
      flex-wrap: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: none;
  padding: 10px;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#d8fee6), to(#f7d0c1));
  background-image: linear-gradient(to bottom right, #d8fee6, #f7d0c1);
  opacity: 0.75;
  border-radius: 0px 6px 6px 0px;
  position: fixed;
  margin-top: 100px;
}

#social a {
  color: black;
  font-size: 25px;
  text-decoration: none;
  padding: 5px;
}
/*# sourceMappingURL=style.css.map */