footer {
  padding: 40px;
  background-color: #eddcc5;
  color: yellow;
}
footer a {
  text-decoration: none;
  color: #000000;
}

/*
-----------------------------
CLASSES
-----------------------------
*/
.footer-wrap {
  display: flex;
}
.footer-hours {
  list-style: none;
  margin: 0;
}

/*
-----------------------------
ID's
-----------------------------
*/
