/*
-----------------------------
Hover states
-----------------------------
*/
.nav-a:hover,
.btn-close:hover,
#social a:hover,
footer a:hover {
  color: #ffffff;
  transition: 300ms ease-in-out;
}
#cart:hover,
#search-icon:hover {
  color: #eddcc5;
  transition: 300ms ease-in-out;
}
#abt-menu:hover,.button:hover,
.add-to-cart:hover,
#btn-remove:hover,
.btn-place-order:hover {
  //background-color: rgba(255, 255, 255, 0.137);
  transition: 300ms ease-in-out;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
