// Temp styling page for main (checkout) //
main {
  font-family: hero-new, sans-serif;
  font-weight: 200;
  font-style: normal;
}
p {
  text-align: left;
}
form {
  font-size: 14px;
  padding: 5px;
  margin-right: auto;
  margin-left: auto;
  border: solid 1px black;
  border-radius: 5px;
  margin: 20px;
  max-width: 500px;
}
footer p {
  text-align: center;
}

// CLASSES //
.cart-items {
  display: block;
  width: 100%;
  padding: 40px;
  margin-bottom: 20px;
  border-bottom: dotted 1px black;
}
.form-row-special {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.form-group-gift,
.name,
.phone-date,
.form-group-newsletter {
  display: flex;
  margin: 10px;
}
.form-row-email {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

// ID's //

#btn-remove,
.btn-place-order {
  display: block;
  border: none;
  margin: 5px;
  padding: 10px 20px;
  background-color: #eddcc5;
  border-radius: 30px;
}
#comments {
  padding: 20px;
  background-color: #ffffff;
  border: solid 1px black;
  margin-top: 8px;
  border-radius: 4px;
}
