/*
-----------------------------
@media selectors
-----------------------------
*/

@media (min-width: 690px) {
  // Home Page & universal stylings //
  svg {
    display: none;
  }
  nav ul {
    display: flex;
    margin: 0;
    padding: 0;
  }
  // Classes //
  .img {
    display: flex;
    flex-direction: column;
  }
  // ID's //
  #main {
    display: grid;
    grid-template-areas: "one two three";
    grid-auto-rows: 100%;
    grid-template-columns: 5% 60% 30%;
  }
  #container-left {
    grid-area: one;
    border-right: solid 2px black;
  }
  #container-middle {
    grid-area: two;
    align-self: center;
    padding: 20px;
  }
  #container-right {
    grid-area: three;
  }

  .img {
    display: flex;
    flex-direction: column;
  }

  #two-donuts,
  #glazed-donut {
    border: 2px solid #eddcc5;
    margin: 20px 0;
    max-width: 60%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
  }
  // It looks like its working now?? :)

  nav ul {
    display: flex;
    margin: 0;
  }
  .nav-li {
    margin-top: 20px;
  }
  #side-menu {
    display: none;
  }
  svg {
    display: none;
  }
  #full-menu {
    display: inline;
    position: absolute;
    top: 10px;
    background-color: #eddcc5;
    padding: 30px;
    margin-left: 55px;
    border-radius: 0px 0px 200px 200px;
  }
  #logosmall {
    display: none;
  }
  #logo {
    display: block;
  }
  #search-bar {
    display: inline;
    padding: 5px 50px 5px 15px;
    border-radius: 12px;
    border: solid black 1.5px;
    margin: 30px 10px 30px 30px;
  }
  #vl-top {
    border-left: 2px solid black;
    height: 40%;
    position: fixed;
    left: 2.5%;
    margin-left: -3px;
    top: 0;
  }
  #vl-bottom {
    border-left: 2px solid black;
    height: 50%;
    position: fixed;
    left: 2.5%;
    margin-left: -3px;
    top: 60%;
  }
  // Still trying to figure out social links for desktop view - sorry it looks dumb atm lol
  #social {
    position: absolute;
    top: 20%;
  }

  // Menu Page //
  .content {
    display: grid;
    grid-template-areas:
      "one two three"
      "four five six";
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
  }
  // Just added a border to help with styling the content
  #cont1 {
    grid-area: one;
    border: solid 2px #eddcc5;
    margin: 10px;
    padding: 10px;
  }
  #cont2 {
    grid-area: two;
    border: solid 2px #eddcc5;
    margin: 10px;
    padding: 10px;
  }
  #cont3 {
    grid-area: three;
    border: solid 2px #eddcc5;
    margin: 10px;
    padding: 10px;
  }
  #cont4 {
    grid-area: four;
    border: solid 2px #eddcc5;
    margin: 10px;
    padding: 10px;
  }
  #cont5 {
    grid-area: five;
    border: solid 2px #eddcc5;
    margin: 10px;
    padding: 10px;
  }
  #cont6 {
    grid-area: six;
    border: solid 2px #eddcc5;
    margin: 10px;
    padding: 10px;
  }
  .available-products {
    max-height: 200px;
    border-radius: 8px;
  }
  .add-to-cart {
    padding: 8px 15px;
    border: none;
    background-color: #eddcc5;
    border-radius: 15px;
  }
  // About Page //

  #btn-one {
    display: none;
  }

  #btn-two {
    display: inline;
  }

  .abt-donut {
    display: grid;
    grid-template-areas: "one two";
  }

  #cof-don {
    grid-area: one;
    padding-left: 10px;
    padding-right: 20px;
    opacity: 0.85;
  }

  #choc-don {
    grid-area: two;
    display: block;
    padding-left: 20px;
    padding-right: 10px;
    opacity: 0.85;
  }

  .abt-donut {
    position: relative;
  }

  .about-text {
    position: absolute;
    border: 2px solid $primary-color;
    border-radius: 5px;
    background-color: $primary-color;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 25px;
    width: 25%;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.555),
      0 17px 50px 0 rgba(0, 0, 0, 0.493);
  }

  .box {
    width: 250px;
    height: 250px;
    background-color: #ffffff;
    border: 2px solid $primary-color;
    border-radius: 5px;
  }

  #location {
    width: 250px;
    height: 250px;
    background-color: $primary-color;
    opacity: 0.95;
    margin: 0px 50px 0px 0px;
    padding: 40px 10px 0px 10px;
    border-radius: 5px;
  }

  #map {
    width: 250px;
    height: 250px;
    opacity: 0.95;
    margin: 0px 50px 0px 150px;
  }

  #contact {
    width: 250px;
    height: 250px;
    background-color: $primary-color;
    opacity: 0.95;
    margin: 0px 0px 0px 150px;
    padding: 40px 5px 0px 5px;
    border-radius: 5px;
  }

  .white-box {
    display: flex;
    justify-content: center;
    position: relative;
    padding-bottom: 100px;
  }

  #box1 {
    margin: 75px 100px 0px 0px;
  }
  #box2 {
    margin: 75px 100px 0px 100px;
  }
  #box3 {
    margin: 75px 0px 0px 100px;
  }

  .nude-box {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 140%;
    left: 12%;
    padding-bottom: 10px;
  }

  #map-mbl {
    display: none;
  }

  #map {
    display: block;
  }

  // Checkout //

  // Credits //
}
