/*
-----------------------------
@media selectors
-----------------------------
*/

@media (min-width: 700px) {
  // HOME PAGE AND UNIVERSAL STYLINGS //
  svg {
    display: none;
  }
  nav ul {
    display: flex;
    margin: 20px 0 0 0;
    padding: 0;
    justify-content: space-around;
  }

  // Classes //
  .wrapper {
    height: 100%;
    margin-bottom: 0;
  }
  .logo-desktop-home {
    display: none;
  }
  .nav-li {
    margin-top: 20px;
  }
  .nav-a {
    font-size: 20px;
  }
  .cart {
    margin: 0 20px 0 0;
    width: 320px;
    height: 100px;
    background-color: $primary-color;
    border-radius: 0px 0px 30px 30px;
  }
  .logo-mobile {
    display: none;
  }
  .logo-desktop {
    display: block;
    margin-left: 30px;
  }

  // ID's //
  #main {
    display: grid;
    grid-template-areas: "one two three";
    grid-auto-rows: 100%;
    grid-template-columns: 5% 60% 35%;
  }
  #container-left {
    grid-area: one;
  }
  #container-middle {
    grid-area: two;
    align-self: center;
    padding: 0 30px 0 0;
  }
  #container-right {
    grid-area: three;
  }
  #side-menu {
    display: none;
  }
  svg {
    display: none;
  }
  #full-menu {
    text-align: center;
    display: inline;
    position: absolute;
    width: 320px;
    height: 100px;
    background-color: $primary-color;
    border-radius: 0px 0px 30px 30px;
    margin-left: 55px;
  }
  #search-bar {
    display: inline;
    padding: 8px 50px 8px 15px;
    border-radius: 15px;
    border: none;
    margin: 0px 0px 20px 20px;
  }
  #vl-top {
    border-left: 1px solid black;
    height: 80%;
    position: fixed;
    left: 28px;
    margin-left: -3px;
    top: 12%;
  }
  #social {
    position: fixed;
    top: 32%;
    opacity: 1 !important;
  }

  /*
-----------------------------
MENU PAGE
-----------------------------
*/
  // Classes //
  .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .content h3 {
    display: block;
  }
  .product-info {
    margin-top: 20px;
  }
  .available-products {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .add-to-cart {
    padding: 8px 15px;
    border: none;
    background-color: $primary-color;
    border-radius: 15px;
  }
  // ID's //
  #cont1,
  #cont2,
  #cont3,
  #cont4,
  #cont5,
  #cont6 {
    display: block;
    border: solid 2px $primary-color;
    border-radius: 5px;
    margin: 20px;
    padding: 20px 10px;
    width: 300px;
    height: auto;
    text-align: center;
  }

  /*
-----------------------------
ABOUT PAGE
-----------------------------
*/

  #about {
    position: relative;
  }

  .abt-donut {
    display: grid;
    grid-template-areas: "one two";
    max-width: 1400px;
    margin-right: auto;
    margin-left: auto;
  }

  #cof-don {
    grid-area: one;
    padding-left: 20px;
    padding-right: 20px;
    z-index: -1;
  }

  #choc-don {
    grid-area: two;
    display: block;
    padding-left: 20px;
    padding-right: 10px;
    opacity: 0.85;
  }

  .abt-donut {
    position: relative;
  }

  .about-text {
    position: absolute;
    border: 2px solid $primary-color;
    border-radius: 5px;
    background-color: $primary-color;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 25px;
    width: 25%;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.555),
      0 17px 50px 0 rgba(0, 0, 0, 0.493);
    min-width: 250px;
  }

  .box {
    width: 250px;
    height: 250px;
    background-color: #ffffff;
    border: 2px solid $primary-color;
    border-radius: 5px;
  }

  .location {
    width: 250px;
    height: 250px;
    opacity: 0.95;
    margin: 50px;
    border-radius: 5px;
    position: relative;
    z-index: -1;
    padding-bottom: 100px;
  }

  .innerbox {
    width: 250px;
    height: 250px;
    background-color: $primary-color;
    position: absolute;
    top: 20px;
    left: 20px;
  }
  
  .nude-box {
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
  }

  #map-mbl {
    display: none;
  }

   #map{

     display: block;
 }
  
  /*
-----------------------------
CHECKOUT PAGE
-----------------------------
*/
  form {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  // Classes //
  .cart-items {
    display: block;
    // display: flex;
    // justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    width: 95%;
    text-align: center;
  }

  // ID's //
  #logo-checkout-mobile {
    display: none;
  }
  #logo-checkout-desktop {
    display: block;
  }
  #form {
    margin-left: 30px;
  }

  /*
-----------------------------
CREDITS PAGE
-----------------------------
*/
}

@media (min-width: 400px) {
  .about-text {
    width: 50%;
  }
}

@media (min-width: 1000px) {
  .about-text {
    width: 25%;
  }
}
